@import 'variable';

// header
.mymenu {
    background-color: #eb3e32;
    height: 42px;
}

a {
    text-decoration: none;
}

.user-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    
}

// form validate
.main {
    background: #f1f1f1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
  }
  .form {
    width: 360px;
    min-height: 100px;
    padding: 32px 24px;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    margin: 24px;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
  }
  .form .heading {
    font-size: 2rem;
  }
  .form .desc {
    text-align: center;
    color: #636d77;
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 2.4rem;
    margin-top: 16px;
    font-weight: 300;
  }
  
  .form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
  }

  .form-group .form-group__gender {
    display: flex;
    justify-content: space-around;
  }
  .form-group .form-group__gender .radioGender {
    font-size: 1.3rem;
    display: inline-flex;
    align-items: center;
  }
  
  .radioGender span {
    margin-left: 7px;
  }
  
  .form-label,
  .form-message {
    text-align: left;
  }
  
  .form-label {
    font-weight: 700;
    padding-bottom: 6px;
    line-height: 1.8rem;
    font-size: 1.4rem;
  }
  
  .form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;
  }
  
  .form-control:hover {
    border-color: #1dbfaf;
  }
  
  .form-group.invalid .form-control {
    border-color: #f33a58;
  }
  
  .form-group.invalid .form-message {
    color: #f33a58;
  }
  
  .form-message {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
  }
  
  .form-submit {
    outline: none;
    background-color: #1dbfaf;
    margin-top: 12px;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .form-submit:hover {
    background-color: #1ac7b6;
  }
  
  .spacer {
    margin-top: 36px;
  }

// ảnh sản phẩm
.img_products {
  width: 290px;
  height: 300px;
  object-fit: cover;
}

// phần name
.overflow-ellipsis {
  white-space: nowrap; /* Ngăn chặn dòng xuống mới */
  overflow: hidden; /* Ẩn nội dung vượt quá kích thước của phần tử */
  text-overflow: ellipsis; /* Thay thế nội dung vượt quá bằng dấu ba chấm */
}

// hiệu ứng ảnh
.image-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.image-container img {
  transition: transform 0.3s ease; /* Hiệu ứng chuyển động trong 0.3s */
  opacity: 1;
}

.image-container:hover img {
  transform: scale(1.4); /* Phóng to ảnh lên 110% khi di chuột vào */
  opacity: 0.8;
}

// hiệu ứng chữ
.hover-effect {
  transition: 0.2s ease-in; /* Hiệu ứng chuyển đổi màu trong 0.3s */
  color: #fff;
  background-color: black;
}

.hover-effect:hover {
  color: black; 
  background-color: #fff;
}

.showdetail_price {
  display: block;
  padding: 10px 10px;
  color: #fff;
  background-color: black;
  width: 100px;
}


