@import 'variable';

// header
.mymenu {
    background-color: #eb3e32;
    height: 42px;
}

a {
    text-decoration: none;
}

.user-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    
}






