<div class="mt-4">
    <h3>Tạo mới sản phẩm</h3>
    
        <form method="post" action="/products/store">
            <div class="mb-3 ">
                <label for="exampleInputEmail1" class="form-label">name</label>
                <input type="text" class="font-weight-bold" class="form-control" id="name" name="name">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">price</label>
                <input type="text" class="font-weight-bold" class="form-control" id="price" name="price">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">videoId</label>
                <input type="text" class="font-weight-bold" class="form-control" id="videoId" name="videoId">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">image</label>
                <input type="text" class="font-weight-bold" class="form-control" id="image" name="image">
            </div>
           
            <button type="submit" class="btn btn-primary">thêm sản phẩm</button>
        </form>
</div>