<div class="myfooter bg-dark text-white py-4">
    <div class="container">
        <div class="row">

            <div class="col-lg-3">
                <h4>Văn phòng giao dịch</h4>
                <ul class="list-menu-footer">
                    <li class="li_menu"><a href="/" title="Trang chủ">Trang chủ</a></li>
                    <li class="li_menu"><a href="/p/gioi-thieu.html" title="Giới thiệu">Giới thiệu</a></li>
                    <li class="li_menu"><a href="/search/label/san-pham" title="Sản phẩm">Sản phẩm</a></li>
                    <li class="li_menu"><a href="/search/label/tin-tuc" title="Tin mới nhất">Tin mới nhất</a></li>
                    <li class="li_menu"><a href="/p/cau-hoi-thuong-gap.html" title="Câu hỏi thường gặp">Câu hỏi thường gặp</a></li>
                    <li class="li_menu"><a href="/p/tuyen-dung.html" title="Tuyển dụng">Tuyển dụng</a></li>
                    <li class="li_menu"><a href="/p/lien-he.html" title="Liên hệ">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>VỀ CHÚNG TÔI</h4>
                <ul class="list-menu-footer">
                    <li class="li_menu"><a href="/" title="Trang chủ">Trang chủ</a></li>
                    <li class="li_menu"><a href="/p/gioi-thieu.html" title="Giới thiệu">Giới thiệu</a></li>
                    <li class="li_menu"><a href="/search/label/san-pham" title="Sản phẩm">Sản phẩm</a></li>
                    <li class="li_menu"><a href="/search/label/tin-tuc" title="Tin mới nhất">Tin mới nhất</a></li>
                    <li class="li_menu"><a href="/p/cau-hoi-thuong-gap.html" title="Câu hỏi thường gặp">Câu hỏi thường gặp</a></li>
                    <li class="li_menu"><a href="/p/tuyen-dung.html" title="Tuyển dụng">Tuyển dụng</a></li>
                    <li class="li_menu"><a href="/p/lien-he.html" title="Liên hệ">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>CHÍNH SÁCH BÁN HÀNG</h4>
                <ul class="list-menu-footer">
                    <li class="li_menu"><a href="/" title="Trang chủ">Trang chủ</a></li>
                    <li class="li_menu"><a href="/p/gioi-thieu.html" title="Giới thiệu">Giới thiệu</a></li>
                    <li class="li_menu"><a href="/search/label/san-pham" title="Sản phẩm">Sản phẩm</a></li>
                    <li class="li_menu"><a href="/search/label/tin-tuc" title="Tin mới nhất">Tin mới nhất</a></li>
                    <li class="li_menu"><a href="/p/cau-hoi-thuong-gap.html" title="Câu hỏi thường gặp">Câu hỏi thường gặp</a></li>
                    <li class="li_menu"><a href="/p/tuyen-dung.html" title="Tuyển dụng">Tuyển dụng</a></li>
                    <li class="li_menu"><a href="/p/lien-he.html" title="Liên hệ">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>THEO DÕI CHÚNG TÔI</h4>
                <ul class="list-menu-footer">
                    <li class="li_menu"><a href="/" title="Trang chủ">Trang chủ</a></li>
                    <li class="li_menu"><a href="/p/gioi-thieu.html" title="Giới thiệu">Giới thiệu</a></li>
                    <li class="li_menu"><a href="/search/label/san-pham" title="Sản phẩm">Sản phẩm</a></li>
                    <li class="li_menu"><a href="/search/label/tin-tuc" title="Tin mới nhất">Tin mới nhất</a></li>
                    <li class="li_menu"><a href="/p/cau-hoi-thuong-gap.html" title="Câu hỏi thường gặp">Câu hỏi thường gặp</a></li>
                    <li class="li_menu"><a href="/p/tuyen-dung.html" title="Tuyển dụng">Tuyển dụng</a></li>
                    <li class="li_menu"><a href="/p/lien-he.html" title="Liên hệ">Liên hệ</a></li>
                </ul>
            </div>
        </div>

        <hr>

        <div class="row"> 
            <div class="col-lg-6">
                <div class="widget HTML" data-version="2" id="HTML6">
                    <h5 class="title-menu">
                    <span>
                    THIÊN ĐƯỜNG MUA SẮM POCO MART
                    </span>
                    </h5>
                    <ul>
                    <li>Copyright@ 2024 Công ty cổ phần 3 thành viên Poco Mart</li>
                    <li>Chứng nhận ĐKKD số: 0388282938 do sở KH &amp; ĐT TP.Hà Nội cấp</li>
                    <li>Địa chỉ: Tòa nhà Gia Định, 178/Hoàng Văn Thụ, TP.HCM</li>
                    <li>Điện thoại: <a class="fone" href="tel:0378277554">18006750</a> - Email: <a href="mailto:thuantinh879@gmail.com">support@sapo.vn</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6">
                <h5>Nhận tin khuyến mãi</h5>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="nhập email của bạn" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <a href="">
                         <span class="input-group-text text-white bg-danger" id="basic-addon2">Đăng ký</span>
                    </a>
                   
                </div>
            </div>
        </div>

        <hr>
        <div class="row">
            <h6>© 2024 Bản quyền thuộc về cá nhân Bùi Thuận Tình - Website được tạo ra vì mục đích học tập, không vì mục đích thương mại</h6>    
        </div>
    </div>
</div>