
<div class="myheader">
    <div class="container-lg py-4">
        <div class="row">

            <div class="col-lg-2">
                <a href="#">
                <img  src="/img/logo1.png" class="img-fluid" alt="logo">
                </a>
            </div>

            <div class="col-lg-4">
                <div class="input-group mb-3">
                    <input class="border-danger" type="text" class="form-control" placeholder="Tìm kiếm" aria-label="" aria-describedby="basic-addon2">
                    <span class="input-group-text" id="basic-addon2">
                        <i  class="fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-3">
                                <div class="fs-4 text-danger">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                            </div>
                            <div class="col-9">Tư vấn hỗ trợ<br>
                                <strong class="text-danger">0378277554</strong>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                         <div class="row">
                            <div class="col-3">
                                <div class="fs-4">
                                   <i class="fa-solid fa-user"></i>
                                </div>
                            </div>
                            <div class="col-9">Xin chào<br>
                                <strong>Đăng nhập</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2">
                <a href="#" class="position-relative">
                    <span class="fs-2"><i class="fa-solid fa-cart-shopping"></i></span>
                    
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">0
                </a>
            </div>

        </div>
    </div>
</div>
{{!-- end header --}}

<div class="mymenu">
    <div class="container">
        <div class="row">
            <div class="col-3 py-3 text-white">
                <a style="text-decoration: none; color:#fff" href="">
                    <i class="fa-solid fa-bars"></i>
                    Danh mục sản phẩm</a>
                </div>

            <div class="col-9 pb-2">
                <nav class="navbar navbar-expand-lg ">
                <div class="container-fluid">
                    <a class="navbar-brand d-none" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                        <a class="nav-link text-white active" aria-current="page" href="#">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-white" href="#">Giới thiệu</a>
                        </li>
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Sản phẩm
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link disabled text-white" href="#" tabindex="-1" aria-disabled="true">Câu hỏi thường gặp</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link disabled text-white" href="#" tabindex="-1" aria-disabled="true">Tuyển dụng</a>
                        </li>
                    </ul>
                </div>
                </nav>
            </div>
        </div>
    </div>
</div>