<div class="mt-4">

 <div class="main">

        <form action="" method="POST" class="form" id="form-1">
          <h3 class="heading"> đăng ký</h3>
          <p class="desc">Mua hàng tại siêu thị chúng tui nha!! Mãi yêu ❤️</p>
      
          <div class="spacer"></div>
      
          <div class="form-group">
            <label for="fullname" class="form-label">Tên đầy đủ</label>
            <input id="fullname" name="fullname" type="text" placeholder="VD: Thuận Tình" class="form-control">
            <span class="form-message"></span>
          </div>
      
          <div class="form-group">
            <label for="email" class="form-label">Email</label>
            <input id="email" name="email" type="text" placeholder="VD: thuantinh879@gmail.com" class="form-control">
            <span class="form-message"></span>
          </div>
      
          <div class="form-group">
            <label for="password" class="form-label">Mật khẩu</label>
            <input id="password" name="password" type="password" placeholder="Nhập mật khẩu" class="form-control">
            <span class="form-message"></span>
          </div>
      
          <div class="form-group">
            <label for="password_confirmation" class="form-label">Nhập lại mật khẩu</label>
            <input id="password_confirmation" name="password_confirmation" placeholder="Nhập lại mật khẩu" type="password" class="form-control">
            <span class="form-message"></span>
          </div>

          <button class="form-submit">Đăng ký</button>
        </form>
      
      </div>


      {{!-- sử dụng thư viện tạo sẵn --}}

       {{!-- <script src="./validator.js"></script> --}}

      <script>

        // Mong muốn mà chúng ta muốn nhận được
        validator({
            form: '#form-1',
            errorSelector: '.form-message',
            rules: [
                validator.isRequired('#fullname', 'nhập tên đầy đủ'),
                validator.isEmail('#email'),
                validator.minLength('#password', 6),
                validator.isRequired('#password_confirmation'),

                validator.isConfirmed('#password_confirmation', function() {
                  return document.querySelector('#form-1 #password').value;
                }, 'mật khẩu nhập lại không chính xác')
            ],

            // trường hợp submit với javascript

            onSubmit: function (data) {
              // tương lai sẽ thực hiện code API
              console.log(data);
            }
          });

      </script>

</div>